* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: antiquewhite;
    width: 100%;
}

header div.container {
    margin: 0 auto;
    padding-top: 10px;
}

header a.logo {
    text-decoration: none;
}

header hgroup {
    text-align: center;
}

header h1 {
    text-align: center;
    color: black;
}

header h3 {
    text-align: center;
    color: black;
}