* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: antiquewhite;
    width: 100%;
}

header div.container {
    margin: 0 auto;
    padding-top: 10px;
}

header a.logo {
    text-decoration: none;
}

header hgroup {
    text-align: center;
}

header h1 {
    text-align: center;
    color: black;
}

header h3 {
    text-align: center;
    color: black;
}

div.main_container {
    display: flex;
}

div.nav {
    background-color: lightgreen;
    padding-right: 10px;
    height: 100%;
    width: max-content;
}

nav ul {
    padding-block-start: 1em;
    padding-block-end: 1em;
    padding-left: 15px;
    list-style: none;
    height: auto;
}

nav li {
    font-size: .9em;
}

nav li::before {
	content: '';
	width: 3px;
    height: 3px;
    display: inline-block;
	border-radius: 100%;
	background: #20B97B;
	position: relative;
	left: -7px;
	top: -3px;
}

div.main {
    background-color: cadetblue;
    height: 100%;
    display: table;
}