body {
    margin: 0px;
    background-color: #fff;
}

.body-title {
    margin: 5px 5px 20px 5px;
}

.directories {
    background-color: antiquewhite;
}

.directories h2 {
    margin: 0px;
}

.directories ul {
    margin: 0px;
}
