<!DOCTYPE html>
<html>
    <head>
        <title>The localhost</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/my-localhost/Templates/Directories/style.css">
    </head>
    <body>
        <h1 class="body-title">Title</h1>
<!-- ================= edit here ================ -->
        <div class="directories">
            <h2>directories</h2>
            <ul>
        <!-- <li><a href="./">    </a></li> -->
                <li><a href="./..">Parent directory</a></li>
            </ul>
            <h2>files</h2>
            <ul>
                <li><a href="./index.html">index.html</a></li>
            </ul>
        </div>
<!-- ================= edit here ================ -->
    </body>
</html>
