body {
    margin: 0px;
    background-color: #fff;
}

.all { 
    background-color: darkslateblue;
    width: 200px;
}

.now_time {
    padding: 5px 5px 5px 10px;
}

.time {
    color: burlywood;
}

.big {
    padding: 0px 5px 5px 10px;
}

.now_time h4 {
    margin: 20px 5px 0px 10px;
}
