body {
    margin: 0px;
    background-color: #fff;
}

.now_time {
    padding: 5px 5px 5px 10px;
    background-color: darkslateblue;
    width: 200px;
}

.time {
    color: burlywood;
}

.big {
    padding: 5px 5px 5px 10px;
    background-color: darkslateblue;
    width: 200px;
}

.now_time h4 {
    margin: auto auto 0px auto;
}
